# Pandas 한번에 제대로 배우기
> by 이수안 컴퓨터 연구소



---

## Pandas 특징
- 부동 소수점이 아닌 데이터 뿐만 아니라 부동 소수점 데이터에서도 결측 데이터(NaN)를 쉽게 처리
- 크기 변이성: 데이터프레임 및 고차원 객체에서 열을 삽입 및 삭제 가능
- 자동 및 명시적 데이터 정렬: 객체를 라벨 집합에 명시적으로 정렬하거나, 사용자가 라벨을 무시하고 Series, Dataframe 등의 계산에서 자동으로 데이터 조정 가능
- 데이터 세트에서 집계 및 변환을 위한 분할(split), 적용(apply), 결합(combine) 작업을 수행할 수 있는 강력하고 유연한 group-by 함수 제공
- 누락된 데이터 또는 다른 Python 및 NumPy 데이터 구조에서 서로 다른 인덱싱 데이터를 DataFrame 개체로 귑게 변환
- 대용량 데이터 세트의 지능형 라벨 기반 슬라이싱, 고급 인덱싱 및 부분 집합 구하기 가능
- 직관적인 데이터 세트 병합 및 결합
- 데이터 세트의 유연한 재구성 및 피벗
- 축의 계층적 라벨링(눈금 당 여러 개의 라벨을 가질 수 있음)
- 플랫 파일(csv 및 구분), Excel 파일, 데이터베이스 로딩 및 초고속 HDF5 형식의 데이터 저장/로드에 사용되는 강력한 IO도구
- 시계열 특정 기능: 날짜 범위 생성 및 주파수 변환, 무빙 윈도우 통계, 날짜 이동 및 지연

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.2.4'

## Pandas 객체

### Series 객체

In [6]:
s = pd.Series((0, 0.25, 0.5, 0.75, 1.0))
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [7]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [8]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s[1]

0.25

In [10]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [11]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1], index=['a', 'b', 'c', 'd', 'e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [13]:
s['c']

0.5

In [17]:
'b' in s

True

In [18]:
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [21]:
s.value_counts()

0.00    1
1.00    1
0.50    1
0.75    1
0.25    1
dtype: int64

In [20]:
s.isin([0.25, 0.75])

a    False
b     True
c    False
d     True
e    False
dtype: bool

In [25]:
pop_tuple = {'서울특별시': 9720846, 
            '부산광역시': 3404423, 
            '인천광역시': 2947217,
            '대구광역시': 2427954, 
            '대전광역시': 1471040}
population =pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
dtype: int64

In [26]:
population['서울특별시']

9720846

In [27]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

### DataFrame 객체

In [28]:
pd.DataFrame([{'A': 2, 'B': 4, 'D': 3}, {'A': 4, 'B': 5, 'C': 7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [30]:
pd.DataFrame(np.random.rand(5, 5), 
            columns = ['A', 'B' ,'C', 'D', 'E'],
            index = [1, 2, 3, 4, 5])

          A         B         C         D         E
1  0.480411  0.390632  0.261853  0.937141  0.064840
2  0.409991  0.945218  0.501853  0.668120  0.957351
3  0.352943  0.501391  0.166705  0.025515  0.957486
4  0.799258  0.720353  0.980737  0.921693  0.463714
5  0.772527  0.956855  0.984953  0.748891  0.380766

In [34]:
male_tuple = {'서울특별시': 4732275, 
            '부산광역시': 1668618, 
            '인천광역시': 1476813,
            '대구광역시': 1198815, 
            '대전광역시': 734441}
male =pd.Series(male_tuple)
print(male)

female_tuple = {'서울특별시': 4988571, 
            '부산광역시': 1735805, 
            '인천광역시': 1470404,
            '대구광역시': 1229139, 
            '대전광역시': 736599}
female =pd.Series(female_tuple)
print(female)

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
dtype: int64
서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
dtype: int64

In [37]:
korea_df = pd.DataFrame({'인구수': population, 
                        '남자인구수': male, 
                        '여자인구수': female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599

In [38]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시'], dtype='object')

In [39]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [40]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
Name: 여자인구수, dtype: int64

In [41]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

### Index 객체

|클래스|설명|
|--|--|
Index|일반적인 Index 객체이며, NumPy 배열 형식으로 축의 이름 표현
Int64Index|정수 값을 위한 Index
MultiIndex|단일 축에 여러 단계 색인을 표현하는 계층적 Index 객체(튜플의 배열과 유사)
DatetimeIndex|NumPy의 datetime64 타입으로 타임스탬프 저장
PeriodIndex|기간 데이터를 위한 Index

In [42]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [43]:
idx[1]

4

In [44]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

#### Index 연산

|연산자|메소드|설명|
|--|--|--|
.|`append`|색인 객체를 추가한 새로운 색인 변환
 `-`|`difference`|색인의 차집합 반환
 `&`|`intersection`|색인의 교집합 반환
 `\|`|`union`|색인의 합집합 반환
.|`isin`| 색인이 존재하는지 여부를 불리언 배열로 변환
.|`delete`|해당 index가 삭제된 새로운 색인 반환
.|`drop`|값이 삭제된 새로운 색인 반환
.|`insert`|색인이 추가된 새로운 색인 반환
.|`is_monotonic`|색인이 단조성을 가지면 True
.|`is_unique`|중복되는 색인이 없다면 True
.|`unique`|색인에서 중복되는 요소를 제거하고 유일한 값만 반환

In [62]:
idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 5, 6, 7])

print(idx1.append(idx2))
print(idx1.difference(idx2))
print(idx1.intersection(idx2))
print(idx.union(idx2))
print(idx1.isin([1, 2]))
print(idx1.delete(0))
print(idx1.drop(4))

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 5, 6, 7, 8, 10], dtype='int64')
[ True  True False False False]
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 2, 6, 8], dtype='int64')



---

## 인덱싱(Indexing)

In [63]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0],
             index = ['a', 'b', 'c', 'd', 'e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [64]:
s['b']

0.25

In [65]:
'b' in s

True

In [74]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [68]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [75]:
s['f'] = 1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [76]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [77]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [82]:
s[(s > 0.4) & (s < 0.8)]

c    0.50
d    0.75
dtype: float64

In [84]:
s[['a', 'c']]

a    0.0
c    0.5
dtype: float64

### Series 인덱싱

In [85]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'], 
             index = [1, 3, 5, 7, 9])
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [86]:
s[1]

'a'

In [87]:
s[2:4]

5    c
7    d
dtype: object

In [88]:
s.iloc[1] # 정수값 반환

'b'

In [89]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [91]:
s.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [94]:
s.reindex(range(10), method = 'bfill') # back fill

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

### DataFrame 인덱싱

|사용 방법|설명|
|:--|--|
`df[val]`|하나의 컬럼 또는 여러 컬럼을 선택
`df.loc[val]`|라벨값으로 로우의 부분집합 선택
`df.loc[:, val}`|라벨값으로 컬럼의 부분집합 선택
`df.loc[val1, val2}`|라벨값으로 로우와 컬럼의 부분집합 선택
`df.iloc[where]`|정수 색인으로 로우의 부분집합 선택
`df.iloc[:. where]`|정수 색인으로 컬럼의 부분집합 선택
`df.iloc[where_i. where_j]`|정수 색인으로 로우와 컬럼의 부분집합 선택
`df.at[label_i. label_j]`|로우와 컬럼의 라벨로 단일 값 선택
`df.lat[i, j]`|로우와 컬럼의 정수 색인으로 단일 값 선택
`reindex`|하나 이상의 축을 새로운 색인으로 재색인
`get_value, set_value`|로우와 컬럼의 이름으로 값 선택

In [95]:
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599

In [96]:
korea_df['남자인구수']

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
Name: 남자인구수, dtype: int64

In [97]:
korea_df.남자인구수

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
Name: 남자인구수, dtype: int64

In [98]:
korea_df['남여비율'] = (korea_df['남자인구수'] * 100 / korea_df['여자인구수'])

In [101]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032

In [102]:
korea_df.values

array([[9.72084600e+06, 4.73227500e+06, 4.98857100e+06, 9.48623363e+01],
       [3.40442300e+06, 1.66861800e+06, 1.73580500e+06, 9.61293463e+01],
       [2.94721700e+06, 1.47681300e+06, 1.47040400e+06, 1.00435867e+02],
       [2.42795400e+06, 1.19881500e+06, 1.22913900e+06, 9.75329072e+01],
       [1.47104000e+06, 7.34441000e+05, 7.36599000e+05, 9.97070319e+01]])

In [103]:
korea_df.T

              서울특별시         부산광역시         인천광역시         대구광역시         대전광역시
인구수    9.720846e+06  3.404423e+06  2.947217e+06  2.427954e+06  1.471040e+06
남자인구수  4.732275e+06  1.668618e+06  1.476813e+06  1.198815e+06  7.344410e+05
여자인구수  4.988571e+06  1.735805e+06  1.470404e+06  1.229139e+06  7.365990e+05
남여비율   9.486234e+01  9.612935e+01  1.004359e+02  9.753291e+01  9.970703e+01

In [104]:
korea_df.values[0]

array([9.72084600e+06, 4.73227500e+06, 4.98857100e+06, 9.48623363e+01])

In [106]:
korea_df['인구수']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
Name: 인구수, dtype: int64

In [107]:
korea_df.loc[:'인천광역시', :'남자인구수']

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

In [108]:
korea_df.loc[(korea_df.여자인구수 > 1000000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907

In [109]:
korea_df.loc[(korea_df.인구수 < 2000000)]

           인구수   남자인구수   여자인구수       남여비율
대전광역시  1471040  734441  736599  99.707032

In [110]:
korea_df.loc[(korea_df.인구수 > 2500000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867

In [111]:
korea_df.loc[korea_df.남여비율 > 100]

           인구수    남자인구수    여자인구수        남여비율
인천광역시  2947217  1476813  1470404  100.435867

In [116]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032

In [118]:
korea_df.iloc[:3, :2]

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

### 다중 인덱싱(Multi Indexing)

* 1차원의 Series와 2차원의 DataFrame 객체를 넘어 3차원, 4차원 이상의 고차원 데이터 처리
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱

#### 다중 인덱스 Series

In [120]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032

In [124]:
idx_tuples = [('서울특별시', 2010), ('서울특별시', 2020),
              ('부산광역시', 2010), ('부산광역시', 2020), 
              ('인천광역시', 2010), ('인천광역시', 2020), 
              ('대구광역시', 2010), ('대구광역시', 2020), 
              ('대전광역시', 2010), ('대전광역시', 2020)] 
idx_tuples

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020)]

In [137]:
pop_tuples = [10312545, 9720846, 3567910, 3404423, 2758297, 2947217, 
             2511676, 2427954, 1503664, 1471040]
population = pd.Series(pop_tuples, index = idx_tuples)
population

(서울특별시, 2010)    10312545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     3567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758297
(인천광역시, 2020)     2947217
(대구광역시, 2010)     2511676
(대구광역시, 2020)     2427954
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
dtype: int64

In [138]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020)],
           )

In [139]:
population = population.reindex(midx)
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758297
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
dtype: int64

In [141]:
population[:, 2010]

서울특별시    10312545
부산광역시     3567910
인천광역시     2758297
대구광역시     2511676
대전광역시     1503664
dtype: int64

In [146]:
population['대전광역시',:]

2010    1503664
2020    1471040
dtype: int64

In [147]:
korea_mdf = population.unstack()
korea_mdf

           2010     2020
대구광역시   2511676  2427954
대전광역시   1503664  1471040
부산광역시   3567910  3404423
서울특별시  10312545  9720846
인천광역시   2758297  2947217

In [150]:
korea_mdf.stack()

대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
부산광역시  2010     3567910
       2020     3404423
서울특별시  2010    10312545
       2020     9720846
인천광역시  2010     2758297
       2020     2947217
dtype: int64

In [155]:
male_tuples = [5111259, 4732275, 1773170, 1668618, 1390356, 1476813, 
             1255245, 1198815, 753648, 734441]
male_tuples

[5111259,
 4732275,
 1773170,
 1668618,
 1390356,
 1476813,
 1255245,
 1198815,
 753648,
 734441]

In [158]:
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758297
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
dtype: int64

In [223]:
korea_mdf = pd.DataFrame({'총인구수':population, 
                         '남자인구수': male_tuples})
korea_mdf

                총인구수    남자인구수
행정구역  년도
서울특별시 2010  10312545  5111259
      2020   9720846  4732275
부산광역시 2010   3567910  1773170
      2020   3404423  1668618
인천광역시 2010   2758297  1390356
      2020   2947217  1476813
대구광역시 2010   2511676  1255245
      2020   2427954  1198815
대전광역시 2010   1503664   753648
      2020   1471040   734441

In [224]:
female_tuples = [5201286, 4988571, 1794740, 1735805, 1367940, 1470404,
                1256431, 1229139, 750016, 736599]
female_tuples

[5201286,
 4988571,
 1794740,
 1735805,
 1367940,
 1470404,
 1256431,
 1229139,
 750016,
 736599]

In [225]:
korea_mdf = pd.DataFrame({'총인구수':population, 
                         '남자인구수': male_tuples, 
                         '여자인구수': female_tuples})
korea_mdf

                총인구수    남자인구수    여자인구수
행정구역  년도
서울특별시 2010  10312545  5111259  5201286
      2020   9720846  4732275  4988571
부산광역시 2010   3567910  1773170  1794740
      2020   3404423  1668618  1735805
인천광역시 2010   2758297  1390356  1367940
      2020   2947217  1476813  1470404
대구광역시 2010   2511676  1255245  1256431
      2020   2427954  1198815  1229139
대전광역시 2010   1503664   753648   750016
      2020   1471040   734441   736599

In [226]:
ratio = korea_mdf['남자인구수'] * 100 / korea_mdf['여자인구수']
ratio

행정구역   년도
서울특별시  2010     98.269140
       2020     94.862336
부산광역시  2010     98.798155
       2020     96.129346
인천광역시  2010    101.638668
       2020    100.435867
대구광역시  2010     99.905606
       2020     97.532907
대전광역시  2010    100.484256
       2020     99.707032
dtype: float64

In [227]:
ratio.unstack()

년도           2010        2020
행정구역
대구광역시   99.905606   97.532907
대전광역시  100.484256   99.707032
부산광역시   98.798155   96.129346
서울특별시   98.269140   94.862336
인천광역시  101.638668  100.435867

In [228]:
korea_mdf = pd.DataFrame({'총인구수':population, 
                         '남자인구수': male_tuples, 
                         '여자인구수': female_tuples, 
                         '남여비율': ratio})
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   3567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032

#### 다중 인덱스 생성

In [165]:
df = pd.DataFrame(np.random.rand(6, 3), 
                 index = [['a', 'a', 'b', 'b', 'c', 'c'], [1, 2, 1, 2, 1, 2]], 
                 columns = ['c1', 'c2', 'c3'])
df

           c1        c2        c3
a 1  0.472749  0.968537  0.418600
  2  0.203213  0.001083  0.828604
b 1  0.066785  0.456441  0.349855
  2  0.029368  0.869410  0.757202
c 1  0.595198  0.629096  0.028985
  2  0.412820  0.335710  0.547151

In [166]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b', 'c', 'c'], [1, 2, 1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [169]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2), ('c', 1), ('c', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [170]:
pd.MultiIndex.from_product([['a', 'b', 'c'], [1, 2]]) # 곱 형태

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [171]:
pd.MultiIndex(levels = [['a', 'b', 'c'], [1, 2]],
             codes = [[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [172]:
#########
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758297
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
dtype: int64

In [222]:
population.index.names = ['행정구역', '년도']
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758297
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
dtype: int64

In [177]:
idx = pd.MultiIndex.from_product([['a', 'b', 'c'], [1, 2]], 
                                names = ['name1', 'name2'])
cols = pd.MultiIndex.from_product([['c1', 'c2', 'c3'], [1, 2]], 
                                 names = ['col_name1', 'col_name2'])

data = np.round(np.random.randn(6, 6), 2)
mdf = pd.DataFrame(data, index = idx, columns = cols)
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -0.25 -0.88 -0.16  0.07 -0.11 -0.88
      2      0.35  3.33  0.19 -0.32  1.48  0.38
b     1     -0.32 -1.52  0.35  0.37 -1.22  0.03
      2     -0.06  0.33 -0.51 -0.11 -1.25  0.70
c     1      0.30 -0.55  1.04  0.84  1.48  0.79
      2     -0.36 -0.42  2.63  0.86  0.45 -1.31

In [179]:
mdf['c2']

col_name2       1     2
name1 name2
a     1     -0.16  0.07
      2      0.19 -0.32
b     1      0.35  0.37
      2     -0.51 -0.11
c     1      1.04  0.84
      2      2.63  0.86

#### 인덱싱 및 슬라이싱

In [180]:
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758297
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
dtype: int64

In [181]:
population['인천광역시', 2010]

2758297

In [183]:
population[:, 2010]

행정구역
서울특별시    10312545
부산광역시     3567910
인천광역시     2758297
대구광역시     2511676
대전광역시     1503664
dtype: int64

In [185]:
population[population > 3000000]

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
dtype: int64

In [186]:
population[['대구광역시', '대전광역시']]

행정구역   년도
대구광역시  2010    2511676
       2020    2427954
대전광역시  2010    1503664
       2020    1471040
dtype: int64

In [187]:
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -0.25 -0.88 -0.16  0.07 -0.11 -0.88
      2      0.35  3.33  0.19 -0.32  1.48  0.38
b     1     -0.32 -1.52  0.35  0.37 -1.22  0.03
      2     -0.06  0.33 -0.51 -0.11 -1.25  0.70
c     1      0.30 -0.55  1.04  0.84  1.48  0.79
      2     -0.36 -0.42  2.63  0.86  0.45 -1.31

In [195]:
mdf['c2', 1]

name1  name2
a      1       -0.16
       2        0.19
b      1        0.35
       2       -0.51
c      1        1.04
       2        2.63
Name: (c2, 1), dtype: float64

In [189]:
mdf.iloc[:3, :4]

col_name1      c1          c2
col_name2       1     2     1     2
name1 name2
a     1     -0.25 -0.88 -0.16  0.07
      2      0.35  3.33  0.19 -0.32
b     1     -0.32 -1.52  0.35  0.37

In [204]:
mdf.loc['a', ('c2', 1)]

name2
1   -0.16
2    0.19
Name: (c2, 1), dtype: float64

In [205]:
idx_slice = pd.IndexSlice # IndexSlice
mdf.loc[idx_slice[:, 2], idx_slice[:, 2]]

col_name1      c1    c2    c3
col_name2       2     2     2
name1 name2
a     2      3.33 -0.32  0.38
b     2      0.33 -0.11  0.70
c     2     -0.42  0.86 -1.31

#### 다중 인덱스 재정렬

In [206]:
idx

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           names=['name1', 'name2'])

In [229]:
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   3567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032

In [230]:
korea_mdf['서울특별시':'인천광역시'] # --> raise UnsortedIndexError

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [232]:
korea_mdf = korea_mdf.sort_index()
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   3567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [233]:
korea_mdf['서울특별시':'인천광역시']

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [234]:
korea_mdf.unstack(level = 0)

         총인구수                                         남자인구수                   \
행정구역    대구광역시    대전광역시    부산광역시     서울특별시    인천광역시    대구광역시   대전광역시    부산광역시
년도
2010  2511676  1503664  3567910  10312545  2758297  1255245  753648  1773170
2020  2427954  1471040  3404423   9720846  2947217  1198815  734441  1668618

                          여자인구수                                          남여비율  \
행정구역    서울특별시    인천광역시    대구광역시   대전광역시    부산광역시    서울특별시    인천광역시      대구광역시
년도
2010  5111259  1390356  1256431  750016  1794740  5201286  1367940  99.905606
2020  4732275  1476813  1229139  736599  1735805  4988571  1470404  97.532907


행정구역       대전광역시      부산광역시      서울특별시       인천광역시
년도
2010  100.484256  98.798155  98.269140  101.638668
2020   99.707032  96.129346  94.862336  100.435867

In [235]:
korea_mdf.unstack(level = 1)

           총인구수             남자인구수             여자인구수                 남여비율  \
년도         2010     2020     2010     2020     2010     2020        2010
행정구역
대구광역시   2511676  2427954  1255245  1198815  1256431  1229139   99.905606
대전광역시   1503664  1471040   753648   734441   750016   736599  100.484256
부산광역시   3567910  3404423  1773170  1668618  1794740  1735805   98.798155
서울특별시  10312545  9720846  5111259  4732275  5201286  4988571   98.269140
인천광역시   2758297  2947217  1390356  1476813  1367940  1470404  101.638668


년도           2020
행정구역
대구광역시   97.532907
대전광역시   99.707032
부산광역시   96.129346
서울특별시   94.862336
인천광역시  100.435867

In [236]:
korea_mdf.stack()

행정구역   년도
대구광역시  2010  총인구수     2.511676e+06
             남자인구수    1.255245e+06
             여자인구수    1.256431e+06
             남여비율     9.990561e+01
       2020  총인구수     2.427954e+06
             남자인구수    1.198815e+06
             여자인구수    1.229139e+06
             남여비율     9.753291e+01
대전광역시  2010  총인구수     1.503664e+06
             남자인구수    7.536480e+05
             여자인구수    7.500160e+05
             남여비율     1.004843e+02
       2020  총인구수     1.471040e+06
             남자인구수    7.344410e+05
             여자인구수    7.365990e+05
             남여비율     9.970703e+01
부산광역시  2010  총인구수     3.567910e+06
             남자인구수    1.773170e+06
             여자인구수    1.794740e+06
             남여비율     9.879815e+01
       2020  총인구수     3.404423e+06
             남자인구수    1.668618e+06
             여자인구수    1.735805e+06
             남여비율     9.612935e+01
서울특별시  2010  총인구수     1.031254e+07
             남자인구수    5.111259e+06
             여자인구수    5.201286e+06
             남여비율     9.826914e+01
       2020  총인구수     9.720846e+06
             남자인구수    4.732275e+06
             여자인구수    4.988571e+06
             남여비율     9.486234e+01
인천광역시  2010  총인구수     2.758297e+06
             남자인구수    1.390356e+06
             여자인구수    1.367940e+06
             남여비율     1.016387e+02
       2020  총인구수     2.947217e+06
             남자인구수    1.476813e+06
             여자인구수    1.470404e+06
             남여비율     1.004359e+02
dtype: float64

In [237]:
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   3567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [238]:
idx_flat = korea_mdf.reset_index(level = 0)
idx_flat

       행정구역      총인구수    남자인구수    여자인구수        남여비율
년도
2010  대구광역시   2511676  1255245  1256431   99.905606
2020  대구광역시   2427954  1198815  1229139   97.532907
2010  대전광역시   1503664   753648   750016  100.484256
2020  대전광역시   1471040   734441   736599   99.707032
2010  부산광역시   3567910  1773170  1794740   98.798155
2020  부산광역시   3404423  1668618  1735805   96.129346
2010  서울특별시  10312545  5111259  5201286   98.269140
2020  서울특별시   9720846  4732275  4988571   94.862336
2010  인천광역시   2758297  1390356  1367940  101.638668
2020  인천광역시   2947217  1476813  1470404  100.435867

In [239]:
idx_flat = korea_mdf.reset_index(level = (0, 1))
idx_flat

    행정구역    년도      총인구수    남자인구수    여자인구수        남여비율
0  대구광역시  2010   2511676  1255245  1256431   99.905606
1  대구광역시  2020   2427954  1198815  1229139   97.532907
2  대전광역시  2010   1503664   753648   750016  100.484256
3  대전광역시  2020   1471040   734441   736599   99.707032
4  부산광역시  2010   3567910  1773170  1794740   98.798155
5  부산광역시  2020   3404423  1668618  1735805   96.129346
6  서울특별시  2010  10312545  5111259  5201286   98.269140
7  서울특별시  2020   9720846  4732275  4988571   94.862336
8  인천광역시  2010   2758297  1390356  1367940  101.638668
9  인천광역시  2020   2947217  1476813  1470404  100.435867

In [240]:
idx_flat.set_index(['행정구역', '년도'])

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   3567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758297  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

## 데이터 연산

### 연산자 범용 함수

#### add()

#### sub() / subtract()

#### mul() / multply()

#### truediv() /  div() / divide() / floordiv()

#### mod()

#### pow()

### 정렬(Sort)

### 순위(Ranking)

### 고성능 연산

## 데이터 결합

### Concat() / Append()

### 병합과 조인

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

### GroupBy 연산

### 피벗 테이블(Pivot Table)

### 범주형(Categorical) 데이터

## 문자열 연산

#### 문자열 연산자

#### 기타 연산자

#### 정규표현식

## 시계열 처리

#### 시계열 데이터 구조

### 시계열 기본

### 주기와 오프셋

### 시프트(Shift)

### 시간대 처리

* 국제표준시(Coordinated Universal Time, UTC)를 기준으로 떨어진 거리만큼 오프셋으로 시간대 처리
* 전 세계의 시간대 정보를 모아놓은 올슨 데이터베이스를 활용한 라이브러리인 `pytz` 사용

### 기간과 기간 연산

### 리샘플링(Resampling)

* 리샘플링(Resampling): 시계열의 빈도 변환
* 다운샘플링(Down sampling): 상위 빈도 데이터를 하위 빈도 데이터로 집계
* 업샘플링(Up sampling): 하위 빈도 데이터를 상위 빈도 데이터로 집계

### 무빙 윈도우(Moving Window)

## 데이터 읽기 및 저장

### 텍스트 파일 읽기/쓰기

### 이진 데이터 파일 읽기/쓰기

## 데이터 정제

### 누락값 처리

* 대부분의 실제 데이터들은 정제되지 않고 누락값들이 존재
* 서로 다른 데이터들은 다른 형태의 결측을 가짐
* 결측 데이터는 `null`, `NaN`, `NA`로 표기

#### None: 파이썬 누락 데이터

#### NaN: 누락된 수치 데이터

#### Null 값 처리

### 중복 제거

### 값 치환

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly